.btn {
  min-width: 104px;
}

body {
  font-size: 15px !important;
}

#nav_wrapper {
  position: fixed;
  height: 100vh;
  width: auto;
  left: 0;
}

.wrong,
.wrong:focus {
  color: #dc3545;
}

.correct,
.corect:focus {
  color: #198754;
}

/* Modify margin-left acording to the nav width */

#content_wrapper,
#content_wrapper_user {
  max-width: 1200px;
  margin-left: 190px !important;
}

#user_wrapper {
  max-width: 600px;
  margin: 0 auto !important;
}

#logs {
  height: 400px;
}

.info {
  background: rgb(10, 0, 160);
  background: linear-gradient(
    90deg,
    rgba(10, 0, 160, 1) 0%,
    rgba(10, 0, 190, 1) 30%,
    rgba(0, 150, 170, 1) 100%
  );
}

.error {
  background: #e11422;
}

@media only screen and (max-width: 767px) {
  #nav_wrapper {
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    z-index: 10;
  }
  #nav_wrapper li {
    font-size: 13px !important;
  }
  /* Modify margin-bottom acording to the nav height */
  #content_wrapper {
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  #content_wrapper_user {
    margin: auto !important;
  }
  #user_wrapper {
    max-width: none;
    margin: 0 auto !important;
  }
}

/* 768px to  950px*/

/* File input size */

@media only screen and (min-width: 767px) and (max-width: 950px) {
  .form-control-small {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }
}

@media only screen and (max-width: 300px) {
  .form-control-small {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }
}
