.btn {
  min-width: 104px;
}

#nav_wrapper {
  position: fixed;
  height: 100vh;
  left: 0;
}

#content_wrapper {
  max-width: 1200px;
  margin-left: 154px !important;
}

@media only screen and (max-width: 751px) {
  #nav_wrapper {
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    z-index: 10;
  }

  #content_wrapper {
    margin: auto !important;
    margin-bottom: 50px !important;
  }
}

/* 768px to  950px*/
/* File input size */
@media only screen and (min-width: 751px) and (max-width: 950px) {
  .form-control-small {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }
}
@media only screen and (max-width: 300px) {
  .form-control-small {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }
}
